# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
.env
.env.*

# SQLite database
*.db
*.sqlite3

# macOS
.DS_Store

# VSCode
.vscode/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# PyCharm
.idea/

# Test and coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/

# Build
build/
dist/
*.egg-info/ 